.carCard {
    background-color: rgba(241, 244, 247, 0.692);
    border-radius: 5px;
}
.carCard:hover {
    transition: 100ms;
    background-color: rgba(229, 232, 240, 0.664);
    cursor: pointer;
}
.carCardImg {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 50%;
}
.cardText {
    padding: 0 10px 50px 10px;
}
.cardTitle {
    font-size: 2em;
}
.cardPrice {
    background-color: rgba(160, 195, 226, 0.2);
    width: 40%;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
}
.cardMiles {
    background-color: rgba(160, 195, 226, 0.2);
    width: 40%;
    text-align: center; 
    padding: 0 1em; 
    border-radius: 5px;
}