.main {
    /* background-image: url("/carbg.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100dvw;
    height: 100dvh;
    padding-top: 1px;
    margin-top: -1px;
}


.nav {
    margin: 2em 0;
    display: flex;
}

.logo {
    fill: #558da0;
}
.nav-buttons {
    margin-left: auto;
}

.nav-button {
    font-size: .5em;
    margin: 0.5rem;
    color: rgb(11, 11, 11);
    background-color: rgba(196, 196, 196, 0.521);
    border: none;
}

.nav-button:hover {
    color: rgb(241, 241, 241);
    background-color: rgba(7, 7, 7, 0.642);
}

.hero {
    margin-top: 5em;
    padding: 5em;
    height: 50dvh;
    /* border: 1px solid rgba(201, 201, 201, 0.816); */
    border-radius: 25px;
}

.hero-buttons {
    margin-right: 2em;
    color: rgb(11, 11, 11);
    background-color: rgba(196, 196, 196, 0.521);
    border: none;
}

.hero-buttons:hover {
    color: rgb(241, 241, 241);
    background-color: rgba(7, 7, 7, 0.642);
}

.search-form {
    margin-right: auto;
    display: flex;
    flex-direction: column;
}